
.headerMain{
    margin-top:20px;
    text-align: center;
}

.inner{
    display:inline-block;
}

.logo {
  width: 160px;
  height: 64px;
  padding-bottom:9px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.inputRounded .MuiOutlinedInput-root {
  width: 700px;
  margin-top: 14px;
  border-radius: 50px;
  margin-right: 150px;
}

