.tags
{
  display: block;
  justify-content: center;
  text-align: center;
  background: #B8DCDB;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  
  border-radius: 6px;
  display: inline-block;
<<<<<<< HEAD
}

.community-tag-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
=======
>>>>>>> 844ddb6927a1ddbd1ccbf20bb2739bab59efd67f
}