.tags
{
  display: block;
  justify-content: center;
  text-align: center;
  background: #B8DCDB;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 5px 10px;
  margin: 3px 0;
  border-radius: 6px;
}
.beforeLogin{
  background-color:rgba(128, 128, 128, 0.5);
}

.sectionFont{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 15px;
  margin-right: 98px;
  font-weight: bold;
  border: 1px solid lightGray;
  box-shadow: 2px 2px 2px 2px lightGray;
  margin-left: 90px;
  color:black;
  font-Size:25px;
  text-align:left;
}

.beforeLoginAlertText{
  font-weight:500;
  font-size:50px;
  color:white;
  position:absolute;
  bottom:20%;
  left:38%;
}
.grayTag{
  color:black;
  font-weight:550;
  border:2px 2px 2px 2px;
  padding:5px 5px 5px 5px;
  border-radius:4px;
  background-color:#e9ecef;
  margin-right:4px;
  margin-left:4px;
}

.community-tag-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;  

  display: inline-block;
}